.git
.github
node_modules
vendor
public/build
public/hot
storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
.fleet
.idea
.nova
.vscode
.zed
docker/
Dockerfile
compose.yaml
README.md
implementation_plan.md
walkthrough.md
task.md
